:root {
  --mainColor: #241e20;
  --buttonColor: #3b2d1f;
  --black: black;
  --black2: #0000009c;
  --white: white;
  --textColor: #fefefe;

  --small: large;
  --normal: x-large;
  --big: xx-large;
  --large: 100px;
}

/*-ABOUT ME PAGE-*/
.about_body {
  display: flex;
  height: 827px;
}
.about_titulo {
  font-size: var(--big);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}
.aboutMe_img {
  overflow: hidden;
  scroll-snap-type: none;
  width: 44%;
}
.about_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}
.about_p,
.about_p_2 {
  font-family: 'Open Sans', sans-serif;
  width: 60%;
  margin-top: 14px;
  text-align: center;
}
.about_p {
  font-size: var(--normal);
  line-height: 45px;
  word-spacing: 6px;
  width: 80%;
}
.about_p_2 {
  margin-top: 30px;
  font-size: var(--normal);
  text-decoration: underline;
}
