:root {
  --mainColor: #241e20;
  --buttonColor: #3b2d1f;
  --black: black;
  --black2: #0000009c;
  --white: white;
  --textColor: #fefefe;

  --small: large;
  --normal: x-large;
  --big: xx-large;
  --large: 100px;
}

/*-ABOUT ME PAGE-*/
.about_body {
  display: flex;
  height: 827px;
}
.about_titulo {
  font-size: var(--big);
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}
.aboutMe_img {
  overflow: hidden;
  scroll-snap-type: none;
  width: 50%;
}
.about_Container {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-top: 8.5%;
  width: 65%;
}
.about_p,
.about_p_2 {
  font-family: 'Open Sans', sans-serif;
  width: 60%;
  margin-top: 14px;
}
.about_p {
  font-size: var(--normal);
  line-height: 45px;
  word-spacing: 5px;
  width: 80%;
}
.about_p_2 {
  margin-top: 30px;
  font-size: var(--normal);
  width: 100%;
}
.btn {
  width: 300px;
  margin-top: 50px;
}

/* RESPONSIVE */
/*Tablet*/
@media (max-width: 1250px) {
  .about_body {
    display: block;
    height: 100%;
  }
  .about_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13%;
    margin-top: 37px;
    width: 100%;
  }
  .aboutMe_img {
    overflow: hidden;
    scroll-snap-type: none;
    width: 100%;
  }
  .about_p {
    font-size: var(--normal);
    line-height: 45px;
    word-spacing: 5px;
    width: 80%;
    text-align: center;
  }
  .about_p_2 {
    margin-top: 30px;
    font-size: var(--normal);
    text-align: center;
  }
}
/*Mobile*/
@media (max-width: 600px) {
  .about_body {
    display: block;
  }
}
