:root {
  --mainColor: #241e20;
  --buttonColor: #3b2d1f;
  --black: black;
  --black2: #0000009c;
  --white: white;
  --textColor: #fefefe;

  --small: large;
  --normal: x-large;
  --big: xx-large;
  --large: medium;
}

/*-HOMEPAGE-*/
.home_body {
  background-color: var(--black);
}
/*-SWIPER-*/
.container {
  width: 100%;
  max-width: 100%;
  padding-left: 20px 15px;
  padding-right: 20px 15px;
  margin: 0 auto;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*SWIPER CONTENT*/

/*{elements}*/
.home_element_container_1,
.home_element_container_2,
.home_element_container_3,
.home_element_container_4,
.home_element_container_5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0%;
}
.home_element_container_1 {
  left: 0;
}
.home_element_container_2 {
  left: 100%;
}
.home_element_container_3 {
  left: 200%;
}
.home_element_container_4 {
  left: 300%;
}
.home_element_container_5 {
  left: 400%;
}
.home_element_title_container {
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.home_element_title,
.home_element_title_1 {
  font-size: 80px;
  color: var(--textColor);
  font-family: 'Source Sans Pro', sans-serif;
  user-select: none;
}
.home_element_title_1 {
  margin-left: 70px;
}
.home_element_title_1:hover {
  animation: aumentar 1s forwards;
}
.home_element_title:hover {
  animation: aumentar 1s forwards;
}
@keyframes aumentar {
  0% {
  }
  100% {
    transform: scale(110%);
  }
}
/*Tablet*/
@media (max-width: 1200px) {
  .home_element_title {
    font-size: var(--big);
  }
}
/*Mobile*/
@media (max-width: 600px) {
  .home_element_title {
    font-size: var(--normal);
  }
}
