:root {
  --mainColor: #241e20;
  --buttonColor: #3b2d1f;
  --black: black;
  --black2: #0000009c;
  --white: white;
  --textColor: #fefefe;

  --small: large;
  --normal: x-large;
  --big: xx-large;
  --large: medium;

  --homePageTitle: 80px;
}

/*-HOMEPAGE-*/
.home_body {
  background-color: var(--black);
}
/*-SWIPER-*/
.container {
  width: 100%;
  max-width: 100%;
  padding-left: 20px 15px;
  padding-right: 20px 15px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*SWIPER CONTENT*/
Footer {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--mainColor);
}
/*{elements}*/
.home_element_container_1,
.home_element_container_2,
.home_element_container_3,
.home_element_container_4,
.home_element_container_5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;

  top: 0%;
}

/*Posição dos elements*/
.home_element_container_1 {
  left: 0;
}
.home_element_container_2 {
  left: 100%;
}
.home_element_container_3 {
  left: 200%;
}
.home_element_container_4 {
  left: 300%;
}
.home_element_container_5 {
  left: 400%;
}
.home_element_title_container {
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

/*CSS em comum em todos os titles em todos os Elements*/
.home_element_title,
.home_element_title_1,
.home_element_title_2,
.home_element_title_3,
.home_element_title_4,
.home_element_title_5 {
  font-size: var(--homePageTitle);
  color: var(--textColor);
  font-family: 'Source Sans Pro', sans-serif;
  user-select: none;
}

/*FIRST ELEMENTS*/
.home_element_title_container_1 {
  width: 70%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_element_title_1,
.home_element_h2_1 {
  margin-left: 70px;
}
.home_element_h2_1 {
  font-size: var(--normal);
  color: var(--textColor);
}
.home_element_title_1:hover {
  animation: aumentar 1s forwards;
}
@keyframes aumentar {
  0% {
  }
  100% {
    transform: scale(105%);
  }
}

/*SECOND ELEMENTS*/
.home_element_title_container_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #241e202b;
  height: 124px;
  margin-top: 5%;
}
.home_element_title_2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 800px;
  border: 2px solid white;
  cursor: none;

  text-align: center;

  background: linear-gradient(
    to right,
    hwb(30 2% 70%),
    hwb(30 7% 39%) 50%,
    var(--textColor) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

  transition: background-position 275ms ease;
}
.home_element_title_2:hover {
  background-position: 0 100%;
}

/*THIRD ELEMENTS*/
.home_element_title_container_3 {
  margin-left: 5%;
  margin-top: 4%;

  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 800px;

  background: linear-gradient(
    to right,
    hwb(0 100% 0%),
    hwb(0 33% 22%) 50%,
    var(--textColor) 50%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

  transition: background-position 275ms ease;
}
.home_element_title_container_3:hover {
  background-position: 0 100%;
}

/*FORTH ELEMENT*/
.home_element_container_4 {
  margin-top: 1%;
  align-items: center;
  width: 100%;
  background-color: #241e202b;
  height: auto;
  cursor: none;
  padding-right: 2%;
  padding-left: 2%;
}
.home_element_title_container_4 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-top: 2%;
  cursor: none;

  text-align: center;

  background: linear-gradient(
    to right,
    hwb(30 0% 72%),
    hwb(30 31% 49%) 50%,
    var(--textColor) 50%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

  transition: background-position 275ms ease;
}
.home_element_title_container_4:hover {
  background-position: 0 100%;
}
.home_element_title_4 {
  width: 100%;
  text-align: center;
  cursor: none;
}

/*FIFTH ELEMENT*/
.home_element_container_5 {
}
.home_element_title_container_5 {
  margin-left: 3%;
  margin-top: 3%;
  width: 80%;
}
.home_element_button {
  margin-top: 4%;
  width: 300px;
  font-size: var(--big);
}

/* RESPONSIVE */
.container_mobile {
  display: none;
}
/*Tablet*/
@media (max-width: 1386px) {
  .home_element_title_container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
  }
  .home_element_container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--large);
    margin-left: 0;
  }
  .container_mobile {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .home_element_h2_1 {
    text-align: center;
    color: var(--textColor);
    font-weight: 500;
    font-size: var(--big);
    margin: 0;
  }
  section > .container {
    display: none;
  }
  .home_element_title_container {
    margin-top: 100px;
  }
  .home_element_title_1 {
    margin: 0;
    text-align: center;
  }
  .home_element_button {
    margin-top: 200px;
  }
  .home_element_title_container_3 {
    width: 100%;
  }
  .home_element_container_4 {
    height: 38%;
  }
  /*No Hover*/
  .home_element_title_1:hover {
    animation: none;
  }
}
/*Mobile*/
@media (max-width: 690px) {
  .home_element_title_1:hover {
    animation: none;
  }
  .home_element_title_container_5 {
    height: 70%;
  }
  .home_element_button {
    margin-top: 0;
  }
}
