:root {
  --mainColor: #241e20;
  --buttonColor: #3b2d1f;
  --black: black;
  --black2: #0000009c;
  --white: white;
  --textColor: #fefefe;

  --small: large;
  --normal: x-large;
  --big: xx-large;
  --large: 100px;
}

/*-SERVICES PAGE-*/
.services_body {
  width: screen;
  height: 1320px;
}

.main_container {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* GRID FRAME */
.grid_container {
  display: grid;
  grid-template-columns: 310.5px 310.5px 310.5px 310.5px;
  grid-template-rows: 310.5px 310.5px 310.5px;
  column-gap: 50px;
  gap: 50px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.grid_item {
  font-size: 30px;
  text-align: center;
  width: 300px;
  height: 300px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: var(--black2);
}
/* Hover: increase */
.grid_item:hover {
  animation: increase 0.7s forwards;
}
@keyframes increase {
  0% {
  }
  100% {
    transform: scale(110%);
  }
}
/* Galeria Text */
.grid_text_hover {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--black2);
  color: var(--textColor);

  display: flex;
  justify-content: center;
  align-items: center;
}
/* Hover: Unshow */
.grid_text_hover:hover {
  animation: unshow 0.3s forwards;
}
@keyframes unshow {
  0% {
  }
  100% {
    opacity: 0;
    background-color: var(--black2);
    color: var(--textColor);
  }
}

/* Galeria */
#plasticaCapilar {
  background-image: url('../Img/plasticaCapilar.jpeg');
}
#BrushingOndas {
  background-image: url('../Img/brushingOndas.jpeg');
}
#BrushingSteampod {
  background-image: url('../Img/steampod.jpeg');
}
#californianasOmbre {
  background-image: url('../Img/californiasombre.jpeg');
}
#alteracaoCor {
  background-image: url('../Img/ondas.jpeg');
}
#blocosCor {
  background-image: url('../Img/blocosCor.jpeg');
}
#cortemulher {
  background-image: url('../Img/corteMulher.jpeg');
}
#cortehomem {
  background-image: url('../Img/cortehomem.jpeg');
}
#corteCriança {
  background-image: url('../Img/boy.jpg');
}
#alisamento {
  background-image: url('../Img/alisamento.jpeg');
}
#penteadosNoiva {
  background-image: url('../Img/penteadonoiva.jpeg');
}
#madeixas {
  background-image: url('../Img/madeixas.jpeg');
}

/* RESPONSIVE */
/*Tablet*/
@media (max-width: 1430px) {
  .services_body {
    width: screen;
    height: 1600px;
  }
  .grid_container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    padding: 10px;
    gap: 40px;
  }
  .grid_item {
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 300px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: var(--black2);
  }
  .grid_item:hover {
    animation: none;
  }
  .grid_text_hover:hover {
    animation: none;
  }
}
@media (max-width: 1000px) {
  .services_body {
    width: screen;
    height: 2200px;
  }
  .grid_container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px 300px;
    padding: 10px;
    gap: 20px;
  }
  .grid_item {
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 300px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: var(--black2);
  }
}

/*PHONE*/
@media (max-width: 630px) {
  .services_body {
    width: screen;
    height: 1900px;
  }
  .grid_container {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px 250px;
    padding: 10px;
    gap: 20px;
  }
  .grid_item {
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 250px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: var(--black2);
  }
}
