@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(./Font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
 }

 :root {
   --mainColor: #241E20;
   --buttonColor: #3B2D1F;
   --black: black;
   --black2: #0000009c;
   --white: white;
   --textColor: #FEFEFE;

   --normal: x-large;
   --big: xx-large;
 }

/* COMPONENTES UTILIZADOS POR TODO O WEBSITE */

/*-NAVBAR-*/
.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 566px;
}
.navButton{
  width: 150px;
  height: 116px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTitulo{
  color: var(--textColor);
  font-size: var(--normal);
  font-style: normal;
  transition: 0.2s ease-in-out;
  font-family: 'Times New Roman', Times, serif
}
.navTitulo:hover{
  transform: scale(120%);
}

/*-FOOTER-*/
.Media_container{
  display: flex;
  justify-content: center;
}
.icon_container{
  border-radius: 30%;
  width: 46px;
  background-color: var(--white);
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
}
.icon_container:hover{
  animation: rollingIcon 0.3s forwards;
}
@keyframes rollingIcon{
  0%{}
  100%{transform: scale(110%);}
}
 

 /*-BUTÃO-*/
 button{
  align-items: center;
  appearance: none;
  background-color: var(--mainColor);
  border: 0;
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Open Sans', sans-serif";
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: var(--normal);
}
button:focus {
  box-shadow: var(--textColor) ;
}
button:hover {
  box-shadow: var(--mainColor);
  transform: translateY(-2px);
}
button:active {
  box-shadow: var(--textColor);
  transform: translateY(2px);
}



/*-PÁGINAS UITLIZADAS NO WEBSITE-*/

/*-HOMEPAGE-*/
.home_img_1, .home_img_2, .home_img_3{
  width: 314px;
  height: auto;
  background-repeat: no-repeat;
}
.home_mainContainer{
  width: 100%;
  height: 100%;
}
.home_titleContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--big);

  margin-top: 10px;

  height: 110px;
  background-color: var(--white);
}
.home_AboutMeContainer{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);;
  background-image: url(/src/Img/background1.jpeg);
}
/* First Home Container */
.home_imgContainer_1{
  padding: 100px;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  background-image: url(/src/Img/background1.jpeg);
  z-index: -1;
}

/* Second Home Container */
/*Button To Switch Backgrounds*/
.switch{
  width: 5px;
  height: 30px;
  background-color: red;
  border-radius: 60%;
  background-image: url(/src/Img/background1.jpeg);
}


/*-ABOUT ME-*/
.About_titulo{
  font-size: xx-large;
}
.aboutMe_img{
  width: 62.8%;
  overflow: hidden;
  scroll-snap-type: none;
}

/*-PROJECTS-*/
.grid_container {
  display: grid;
  grid-template-columns: 310.5px 310.5px 310.5px 310.5px;
  column-gap: 50px;
  gap: 50px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.grid_item {
  border: 1px solid var(--black);
  height: 310.5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/*-CONTACT-*/
.contact_container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 753px;

  border-top: 2px solid var(--black);
}
/*When Alert Activated*/
.contact_alert{
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black2);

  display: flex;
  justify-content: center;
  align-items:center;
 } 

.contact_box{
  width: 420px;
  height: 185px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
}

/*-BLOG-*/
.blog_container{
  flex-direction: column;
  height: 751px;
  width: 50%;
  display: flex;
  align-items: center;
  border-right: 2px solid var(--black);
  border-left: 2px solid var(--black);  
}
.post_container{
  flex-direction: column;
  height: 751px;
  width: 80%;
  display: flex;
  align-items: center;
  border-right: 2px solid var(--black);
  border-left: 2px solid var(--black);
  border-top: 2px solid var(--black); 
}








