:root {
  --mainColor: #241e20;
  --buttonColor: #3b2d1f;
  --black: black;
  --black2: #0000009c;
  --white: white;
  --textColor: #fefefe;

  --small: large;
  --normal: x-large;
  --big: xx-large;
  --large: larger;
}

/*Esconder ScrollBar*/
::-webkit-scrollbar {
  width: 0;
  font-size: ;
}

/* COMPONENTES UTILIZADOS POR TODO O WEBSITE */
/* Titulos */
.titulos {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--black);
}
/*-BUTÃO-*/
button {
  align-items: center;
  appearance: none;
  background-color: var(--mainColor);
  border: 0;
  border-radius: 6px;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Source Sans Pro', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: var(--normal);
}
button:focus {
  box-shadow: var(--textColor);
}
button:hover {
  box-shadow: var(--mainColor);
  transform: translateY(-2px);
}
button:active {
  box-shadow: var(--textColor);
  transform: translateY(2px);
}

/*-PÁGINAS UITLIZADAS NO WEBSITE-*/
/* ALTURA DAS PÁGINAS */
.about_body,
.services_body,
.contact_body {
  height: 827px;
}
.review_body {
  height: 1100px;
}
