@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(./Font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
 }


 
              /* NavBar CSS */
.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 566px;
}
.navButton{
  width: 150px;
  height: 116px;
  transform: skew(317deg);
  background: #241e20;
  border-right: 3px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navFirsttButton{
  width: 150px;
  height: 116px;
  transform: skew(317deg);
  background: #241e20;
  border-left: 3px solid white;
  border-right: 3px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Button */
.navLoginButton{
  display: flex;
  color: white;
}
.buttonPart1{
  width: 0;
  height: 0;
  border-bottom: 116px solid #241e20;
  margin-left: -43px;
  border-left: 91px solid #241e20;
}
.buttonPart2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 116px;
  background: #241e20;
}
.navTitulo{
  color: white;
  font-size: x-large;
  font-style: normal;
  transition: 0.3s ease-in-out;
}
.navTitulo:hover{
  transform: scale(120%);

}
.textLogin{
  width: 50px;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 31px;
  font-size: x-large;
  font-style: italic;
  transition: 0.3s ease-in-out;
}
.textLogin:hover{
  transform: scale(120%);
  /* animation: hover_text 0.5s forwards ease-in-out; */
}

/* @keyframes hover_text{
  0%{}
  100%{
    transform: scale(120%);
  }
} */





 /* EveryButton CSS */
button{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }


 